{% extends 'base.html.twig' %}

{% block title %}La Nîmes'alerie : Panier
{% endblock %}

{% block body %}
<header>
    {{ include('_header.html.twig') }}
</header>
<div class="my-5 p-2 sections">
    <h2 class="text-center mt-2">Votre panier La Nîmes'alerie</h2>
    {% if cart.items.count > 0 %}
    <div class="row mt-4">
        <!-- List of items -->
        <div class="col-md-8">
            {{ form_start(form) }}
            <div class="card">
                <div class="card-header bg-light">
                    <h5>Produits</h5>
                        <div class="my-2">
                            {{ form_widget(form.save, {'attr': {'class': 'btn btn-outline-info sm'}}) }}
                        </div>
                        <div class="my-2">
                            {{ form_widget(form.clear, {'attr': {'class': 'btn btn-outline-dark'}}) }}
                        </div>
                </div>
                <ul class="list-group list-group-flush">
                    {% for item in form.items %}
                    <li class="list-group-item d-flex">
                        <div class="flex-fill mr-2">
                            <img src="{{ asset('uploads/images/'~  item.vars.data.product.photo1)}}" width="64" alt="Product image">
                        </div>
                        <div class="flex-fill mr-2">
                            <h5 class="mt-0 mb-0">{{ item.vars.data.product.name }}</h5>
                            <div class="form-inline mt-2">
                                <div class="form-group mb-0 mr-2">
                                    {{ form_widget(item.quantity, {
                                    'attr': {
                                        'class': 'form-control form-control-sm ' ~ (item.quantity.vars.valid ? '' : 'is-invalid')
                                    }
                                }) }}
                                    <div class="invalid-feedback">
                                        {{ form_errors(item.quantity) }}
                                    </div>
                                </div>
                                <div class="my-2">
                                    {{ form_widget(item.remove, {'attr': {'class': 'btn btn-dark btn-sm'}}) }}
                                </div>
                            </div>
                        </div>
                        <div class="flex-fill mr-2 text-right">
                            <b>{{ item.vars.data.product.addTVA(item.vars.data.product.price) | format_number({rounding_mode: 'ceiling', fraction_digit: 2}) }}
                                €</b>
                        </div>
                    </li>
                    {% endfor %}
                </ul>
            </div>
            {{ form_end(form) }}
        </div>
        <!-- Summary -->
        <div class="col-md-4">
            <div class="card mt-4 mt-md-0">
                <h5 class="card-header bg-dark text-white">Résumé</h5>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item d-flex justify-content-between">
                        <div><b>Total</b></div>
                        <span><b>{{ cart.total * (1+(19.6/100)) | round(1, 'ceil')}} €</b></span>
                    </li>
                </ul>
                <div class="card-body">
                    <a href="#" class="btn btn-warning w-100">Passer commande</a>
                </div>
            </div>
        </div>
    </div>
    {% else %}
    <div class="alert alert-info">
        Votre panier est vide ! Allez jeter un oeil à nos produits !
    </div>
    {% endif %}
</div>
<footer class="footer mt-auto">
    {{ include('includes/footer.php')}}
</footer>
{% endblock %}