{% extends 'base.html.twig' %}

{% block title %}Account index{% endblock %}

{% block body %}
    <h1>Account index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>First_name</th>
                <th>Last_name</th>
                <th>Address</th>
                <th>Zip_code</th>
                <th>City</th>
                <th>Birth_date</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for account in accounts %}
            <tr>
                <td>{{ account.id }}</td>
                <td>{{ account.firstName }}</td>
                <td>{{ account.lastName }}</td>
                <td>{{ account.address }}</td>
                <td>{{ account.zipCode }}</td>
                <td>{{ account.city }}</td>
                <td>{{ account.birthDate ? account.birthDate|date('Y-m-d') : '' }}</td>
                <td>
                    <a href="{{ path('account_show', {'id': account.id}) }}">show</a>
                    <a href="{{ path('account_edit', {'id': account.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('account_new') }}">Create new</a>
{% endblock %}
