{% extends 'base.html.twig' %}

{% block title %}La Nîmes'alerie : Détail {{product.name}}{% endblock %}

{% block body %}
{{ include('_header.html.twig')}}
<section class="py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="row gx-4 gx-lg-5 align-items-center">
            <div class="col-md-6">
                <img class="card-img-top mb-5 mb-md-0" src="{{ asset('uploads/images/' ~ product.photo1) | imagine_filter('thumb_detail')}}"
                    alt="photo de {{ product.name }}" />
            </div>
            <div class="col-md-6">
                <h2 class="display-5 fw-bolder">{{product.name}}</h2>
                {% if product.rating > 0 %}
                <div class="d-flex small text-warning mb-2">
                    {% for i in 1..product.rating %}
                    <div class="bi-star-fill"></div>
                    {% endfor %}
                </div>
                {% endif %}
                <h5>
                    {% for category in product.getCategory %}
                    <a href="{{ path('catalog', {'id': category.id}) }}">{{category.name}} > </a>
                    {% endfor %}
                </h5>
                <h5 class="product-brand">
                    {{ product.getBrand.name }}
                </h5>
                {% if product.new %}
                <span class="badge rounded-pill bg-dark text-light">Nouveau !</span>
                {% endif %}
                <div class="fs-5 mb-5">
                    <span>{{ product.addTVA(product.price) | format_number({rounding_mode: 'ceiling', fraction_digit: 2}) }}
                        € TTC</span>
                </div>
                <div class="lead">
                    <p>{{ product.description }}</p>
                </div>
                <div class="form-group">
                    {{ form_start(form) }}
                    <div class="my-3">
                        {{ form_label(form.quantity, 'Quantité') }}
                        {{ form_widget(form.quantity) }}
                    </div>
                    <div class="invalid-feedback">
                        {{ form_errors(form.quantity) }}
                    </div>
                    <div class="my-3">
                        {{ form_widget(form.add, {'attr': {'class': 'btn btn-dark'}}) }}
                    </div>
                    {{ form_end(form) }}
                </div>
            </div>
            {% if product.photo2 or product.photo3 %}
            <div class="row">
                <h4>Autres visuels du produit</h4>
                <div class="col-4 mx-auto">
                    {% if product.photo2 %}
                    <img src="{{ asset('uploads/images/' ~ product.photo2) | imagine_filter('other') }}" alt="2ème visuel de {{ product.name }}"
                        class="img-thumbnail">
                    {% endif %}
                </div>
                <div class="col-4 mx-auto">
                    {% if product.photo3 %}
                    <img src="{{ asset('uploads/images/' ~ product.photo3) | imagine_filter('other') }}" alt="3ème visuel de {{ product.name }}"
                        class="img-thumbnail">
                    {% endif %}
                </div>
            </div>
            {% endif %}
        </div>
    </div>
</section>
<footer>
    {{ include('includes/footer.php') }}
</footer>

{% endblock %}