<div id="promotions" class="row justify-content-around my-3 pe-0 sections">
    <h2 class="text-center">
        Produits à la une !
    </h2>
    <div class="container mt-5">
        <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
            {% for product in products %}
            {% if product.active == true %}
            <div class="col mb-2">
                <div class="card h-100">
                    <img class="img-fluid card-img-top" src="{{ asset('uploads/images/' ~ product.photo1) | imagine_filter('thumb')}}" alt="photo de {{product.name}}" style="max-height: 300px">
                    <div class="card-body py-4">
                        <div class="text-center">
                            <h5 class="card-title">{{ product.name | upper}}</h5>
                            {% if product.rating > 0 %}
                                <div class="d-flex justify-content-center small text-warning mb-2">
                                    {% for i in 1..product.rating %}
                                    <div class="bi-star-fill"></div>
                                    {% endfor %}
                                </div>
                            {% endif %}
                            <p class="text-center">{{ product.addTVA(product.price) | format_number({rounding_mode: 'ceiling', fraction_digit: 2})}} €</p>
                        </div>
                    </div>
                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                        <div class="text-center">
                            <a class="btn btn-outline-dark mt-auto" href="{{ path('product_detail', {'id': product.id } ) }}">Voir plus</a>
                        </div>
                    </div>
                </div>
            </div>
            {% endif %}
        {% endfor %}
        </div>
    </div>
</div>